.column {
    float: left;
    padding: 10px;
    // height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 40%;
  }
  
  .right {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.abms-table {
    table-layout: fixed;
}

.table-wrap {

    height: 750px;
    overflow-y: auto;
    overflow-x: auto;
}

.container-wrapper {
    margin-top: 2rem;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    white-space: nowrap;
    border: 1px solid #C8C8C8;
    text-align: left;
    padding: 10px;
}

table tr:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
}

tr>td:hover {
    overflow: visible;
    white-space: unset;
}

table .t1 {
    width: 150px;
}

table .t2 {
    width: 150px
}

table .t3 {
    width: 150px
}

table .t4 {
    width: 100px
}

table .t5 {
    width: 150px
}

table .t6 {
    width: 230px
}

table .t7 {
    width: 250px
}

table .t8 {
    width: 80px
}

table .t9 {
    width: 80px
}
table .t10 {
    width: 80px
}

table .t11 {
    width: 80px
}

  
  
  
  
  